# Dependencies
node_modules

# Database
/data/*.sqlite
/data/*.sqlite-journal

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDE
.idea
.vscode
*.code-workspace

# OS specific
.DS_Store 